[Unit]
Description=ShellHub Agent
Wants=network.target
After=local-fs.target network.target time-sync.target
Requires=local-fs.target
[Service]
WorkingDirectory=__INSTALL_DIR__
ExecStart=/opt/shellhub/runc run shellhub-agent
Restart=on-failure
[Install]
WantedBy=multi-user.target
