version: 2

updates:
- package-ecosystem: docker
  directory: "/cli"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: cli"
- package-ecosystem: docker
  directory: "/api"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: api"
- package-ecosystem: docker
  directory: "/gateway"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: gateway"
- package-ecosystem: docker
  directory: "/ui"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: ui"
- package-ecosystem: docker
  directory: "/agent"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: agent"
- package-ecosystem: docker
  directory: "/ssh"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: ssh"
- package-ecosystem: npm
  directory: "/ui"
  schedule:
    interval: weekly
  commit-message:
    prefix: "ui"
  ignore:
    - dependency-name: "vue-fragment"
    - dependency-name: "sass-loader"
    - dependency-name: "sass"
- package-ecosystem: gomod
  directory: "/agent"
  schedule:
    interval: weekly
  commit-message:
    prefix: "agent"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/api"
  schedule:
    interval: weekly
  commit-message:
    prefix: "api"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/ssh"
  schedule:
    interval: weekly
  commit-message:
    prefix: "ssh"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/cli"
  schedule:
    interval: weekly
  commit-message:
    prefix: "cli"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
