version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
- package-ecosystem: docker
  directory: "/cli"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: cli"
  ignore:
    - dependency-name: "golang"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
- package-ecosystem: docker
  directory: "/api"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: api"
  ignore:
    - dependency-name: "golang"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
- package-ecosystem: docker
  directory: "/gateway"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: gateway"
  ignore:
    - dependency-name: "golang"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
- package-ecosystem: docker
  directory: "/ui"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: ui"
  ignore:
    - dependency-name: "node"
      update-types: ["version-update:semver-major"]
      versions: [">=25"]
- package-ecosystem: docker
  directory: "/agent"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: agent"
  ignore:
    - dependency-name: "golang"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
- package-ecosystem: docker
  directory: "/ssh"
  schedule:
    interval: weekly
  commit-message:
    prefix: "docker: ssh"
  ignore:
    - dependency-name: "golang"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
- package-ecosystem: npm
  directory: "/ui"
  schedule:
    interval: weekly
  commit-message:
    prefix: "ui"
  versioning-strategy: lockfile-only
- package-ecosystem: gomod
  directory: "/agent"
  schedule:
    interval: weekly
  commit-message:
    prefix: "agent"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/api"
  schedule:
    interval: weekly
  commit-message:
    prefix: "api"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/ssh"
  schedule:
    interval: weekly
  commit-message:
    prefix: "ssh"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
- package-ecosystem: gomod
  directory: "/cli"
  schedule:
    interval: weekly
  commit-message:
    prefix: "cli"
  ignore:
      - dependency-name: "github.com/shellhub-io/shellhub"
