*~
api_private_key
api_public_key
ssh_private_key
/go.sum
/ui/node_modules/
*.orig
.env.override
docker-compose.override.yml
gateway/gateway
api/api
ssh/ssh
agent/agent
agent/shellhub.key
cli/cli
go.work
go.work.sum
connector/.keys
connector/connector

# Directory used by devscripts/run-agent to store binaries
bin/agent
