version: "3.7"

services:
  ssh:
    image: ssh:test
    build:
      context: .
      dockerfile: ssh/Dockerfile
      target: production 
    healthcheck:
      interval: 5s
      start_period: 10s
      retries: 20
    ports: []
  api:
    image: api:test
    build:
      context: .
      dockerfile: api/Dockerfile
      target: production 
    healthcheck:
      interval: 5s
      start_period: 10s
      retries: 20
    ports: []
  gateway:
    image: gateway:test
    build:
      context: .
      dockerfile: gateway/Dockerfile
      target: production
    healthcheck:
      interval: 5s
      start_period: 10s
      retries: 20
    ports: []
  ui-react:
    image: ui-react:test
    build:
      context: .
      dockerfile: ui-react/Dockerfile
      target: production
    healthcheck:
      interval: 5s
      start_period: 10s
      retries: 20
