services:
  api:
    image: registry.infra.ossystems.io/cache/shellhubio/api:${SHELLHUB_VERSION}

  ui:
    image: registry.infra.ossystems.io/cache/shellhubio/ui:${SHELLHUB_VERSION}

  gateway:
    image: registry.infra.ossystems.io/cache/shellhubio/gateway:${SHELLHUB_VERSION}

  cli:
    image: registry.infra.ossystems.io/cache/shellhubio/cli:${SHELLHUB_VERSION}

  mongo:
    image: registry.infra.ossystems.io/cache/mongo:4.4.8

  redis:
    image: registry.infra.ossystems.io/cache/redis

  ssh:
    image: registry.infra.ossystems.io/cache/shellhubio/ssh:${SHELLHUB_VERSION}

  cloud:
    image: registry.infra.ossystems.io/shellhub/cloud:${SHELLHUB_VERSION}
    restart: unless-stopped
    environment:
      # Database and Cache connections
      - MONGO_URI=mongodb://mongo:27017/main
      - REDIS_URI=redis://redis:6379
      # Keys paths (mounted via secrets)
      - ADMIN_API_PRIVATE_KEY=/run/secrets/api_private_key
      - ADMIN_API_PUBLIC_KEY=/run/secrets/api_public_key
      # Domain and SSL
      - DOMAIN=${SHELLHUB_DOMAIN}
      - AUTO_SSL=${SHELLHUB_AUTO_SSL}
      # Email configuration
      - EMAIL_API_KEY=${SHELLHUB_EMAIL_API_KEY-}
      - EMAIL_FROM_NAME=${SHELLHUB_EMAIL_FROM_NAME-}
      - EMAIL_FROM_ADDRESS=${SHELLHUB_EMAIL_FROM_ADDRESS-}
      # SAML
      - SAML_SECRET=${SHELLHUB_SAML_SECRET}
      - SHELLHUB_WEB_ENDPOINTS=${SHELLHUB_WEB_ENDPOINTS}
      - SHELLHUB_WEB_ENDPOINTS_DOMAIN=${SHELLHUB_WEB_ENDPOINTS_DOMAIN}
      - ADMIN_API_USERNAME=${SHELLHUB_ENTERPRISE_ADMIN_USERNAME}
      - ADMIN_API_PASSWORD=${SHELLHUB_ENTERPRISE_ADMIN_PASSWORD}
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_OBJECT_STORAGE_ENDPOINT=${SHELLHUB_OBJECT_STORAGE_ENDPOINT}
      - SHELLHUB_OBJECT_STORAGE_REGION=${SHELLHUB_OBJECT_STORAGE_REGION}
      - SHELLHUB_OBJECT_STORAGE_BUCKET=${SHELLHUB_OBJECT_STORAGE_BUCKET}
      - SHELLHUB_OBJECT_STORAGE_ACCESS_KEY=${SHELLHUB_OBJECT_STORAGE_ACCESS_KEY}
      - SHELLHUB_OBJECT_STORAGE_SECRET_KEY=${SHELLHUB_OBJECT_STORAGE_SECRET_KEY}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
      - SHELLHUB_BILLING=${SHELLHUB_BILLING}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_PRICE_ID=${STRIPE_PRICE_ID}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
    secrets:
      - api_private_key
      - api_public_key
    networks:
      - shellhub

  minio:
    image: minio/minio:RELEASE.2025-05-24T17-08-30Z
    restart: unless-stopped
    command: server /data
    environment:
      - MINIO_ROOT_USER=${SHELLHUB_OBJECT_STORAGE_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${SHELLHUB_OBJECT_STORAGE_SECRET_KEY}
    networks:
      - shellhub
