version: "3.7"

services:
  ssh:
    image: ssh
    build:
      context: .
      dockerfile: ssh/Dockerfile
      target: development
      network: host
      args:
        - GOPROXY=${SHELLHUB_GOPROXY}
    volumes:
      - ./ssh:/go/src/github.com/shellhub-io/shellhub/ssh
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./.golangci.yaml:/.golangci.yaml
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
      - SHELLHUB_BILLING=${SHELLHUB_BILLING}
      - SHELLHUB_ENV=${SHELLHUB_ENV}
  api:
    image: api
    build:
      context: .
      dockerfile: api/Dockerfile
      target: development
      network: host
      args:
        - GOPROXY=${SHELLHUB_GOPROXY}
    volumes:
      - ./api:/go/src/github.com/shellhub-io/shellhub/api
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.golangci.yaml:/.golangci.yaml
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
      - SHELLHUB_ENV=${SHELLHUB_ENV}
  ui:
    image: ui
    build:
      context: .
      dockerfile: ui/Dockerfile
      target: development
      network: host
      args:
        - NPM_CONFIG_REGISTRY=${SHELLHUB_NPM_REGISTRY}
    volumes:
      - ./ui:/src
  gateway:
    image: gateway
    build:
      context: .
      dockerfile: gateway/Dockerfile
      target: development
    volumes:
      - ./gateway/nginx.conf:/app/nginx.conf
      - ./gateway/conf.d/:/app/conf.d/
    environment:
      - SHELLHUB_VERSION=latest
      - SHELLHUB_ENV=${SHELLHUB_ENV}
  cli:
    image: cli
    build:
      context: .
      dockerfile: cli/Dockerfile
      target: development
    entrypoint: /entrypoint.sh
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
    volumes:
      - ./cli:/go/src/github.com/shellhub-io/shellhub/cli
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./api:/go/src/github.com/shellhub-io/shellhub/api
      - ./.golangci.yaml:/.golangci.yaml
    depends_on:
      - api
      - mongo
