services:
  ssh:
    image: ssh
    build:
      context: .
      dockerfile: ssh/Dockerfile
      target: development
      network: host
      args:
        - GOPROXY=${SHELLHUB_GOPROXY:-}
    volumes:
      - ./ssh:/go/src/github.com/shellhub-io/shellhub/ssh
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./.golangci.yaml:/.golangci.yaml
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
      - SHELLHUB_ENV=${SHELLHUB_ENV}
  api:
    image: api
    build:
      context: .
      dockerfile: api/Dockerfile
      target: development
      network: host
      args:
        - GOPROXY=${SHELLHUB_GOPROXY:-}
    volumes:
      - ./api:/go/src/github.com/shellhub-io/shellhub/api
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./openapi:/go/src/github.com/shellhub-io/shellhub/openapi
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.golangci.yaml:/.golangci.yaml
    environment:
      - TESTCONTAINERS_DOCKER_NETWORK=${SHELLHUB_NETWORK}
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
      - SHELLHUB_ENV=${SHELLHUB_ENV}
  ui:
    image: ui
    build:
      context: .
      dockerfile: ui/Dockerfile
      target: development
      network: host
      args:
        - NPM_CONFIG_REGISTRY=${SHELLHUB_NPM_REGISTRY:-}
    volumes:
      - ./ui:/src
      - ui_node_modules:/src/node_modules
  ui-react:
    image: ui-react
    build:
      context: .
      dockerfile: ui-react/Dockerfile
      target: development
      network: host
      args:
        - NPM_CONFIG_REGISTRY=${SHELLHUB_NPM_REGISTRY:-}
    volumes:
      - ./ui-react:/src
  gateway:
    image: gateway
    build:
      context: .
      dockerfile: gateway/Dockerfile
      target: development
    volumes:
      - ./gateway:/go/src/github.com/shellhub-io/shellhub/gateway
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./.golangci.yaml:/.golangci.yaml
      - ./gateway/nginx:/templates
    environment:
      - SHELLHUB_VERSION=latest
      - SHELLHUB_ENV=${SHELLHUB_ENV}
      - SHELLHUB_GATEWAY_ACCESS_LOGS=${SHELLHUB_GATEWAY_ACCESS_LOGS}
  cli:
    image: cli
    build:
      context: .
      dockerfile: cli/Dockerfile
      target: development
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
    volumes:
      - ./cli:/go/src/github.com/shellhub-io/shellhub/cli
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./api:/go/src/github.com/shellhub-io/shellhub/api
      - ./.golangci.yaml:/.golangci.yaml
  openapi:
    image: openapi
    build:
      context: .
      dockerfile: openapi/Dockerfile
      target: development
      args:
        - GOPROXY=${SHELLHUB_GOPROXY:-}
    volumes:
      - ./openapi:/go/src/github.com/shellhub-io/shellhub/openapi
      - ./pkg:/go/src/github.com/shellhub-io/shellhub/pkg
      - ./.golangci.yaml:/.golangci.yaml
    environment:
      - SHELLHUB_ENTERPRISE=${SHELLHUB_ENTERPRISE}
      - SHELLHUB_CLOUD=${SHELLHUB_CLOUD}
    networks:
      - shellhub

volumes:
  ui_node_modules:
  ui_react_node_modules:
