name: docker-build

on:
  push:
    branches: [master]
    paths:
      - "**Dockerfile"

  pull_request:
    branches: [master]
    paths:
      - "**Dockerfile"

jobs:
  build:
    name: Build '${{ matrix.project }}' Docker container

    strategy:
      fail-fast: false
      matrix:
        project: [api, ssh, gateway, ui, cli]

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: registry.infra.ossystems.io
          username: ${{ secrets.PORTUS_USERNAME }}
          password: ${{ secrets.PORTUS_TOKEN }}

      - name: Build '${{ matrix.project }}' Docker container
        uses: docker/build-push-action@v6
        with:
          tags: shellhubio/${{ matrix.project }}:latest
          push: false
          file: ${{ matrix.project }}/Dockerfile

