name: OpenAPI Continuous Integration

on:
  push:
    branches: [master]
    paths:
      - 'openapi/**'
  pull_request:
    branches: [master]
    paths:
      - 'openapi/**'

  workflow_dispatch:

jobs:
  openapi-ci:
    name: OpenAPI CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "18.1"
      - name: Setup Prettier
        run: npm install -g prettier@2.8.7

      - name: Run Prettier lint on project
        run: prettier -c openapi/spec/**/*.yaml

      - name: Setup Redocly
        run: npm install -g @redocly/cli@1.0.0-beta.100

      - name: Run Redocly lint
        run: redocly lint openapi/spec/openapi.yaml
